$bubbles: 20;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0.5em 1.25em;
  border-radius: 1rem;
  cursor: pointer;
}

.counter {
  position: fixed;
  top: 150px;
  right: 30px;
  font-size: 3rem;
}

.bubble-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.bubble {
  border: 1px solid #999;
  border-radius: 50%;
  position: absolute;
  cursor: crosshair;
  background-color: rgb(255 255 255 / 20%);
  backdrop-filter: blur(4px);

  @for $i from 1 through $bubbles {
    &:nth-of-type(#{$i}) {
      animation: 2.5s float ease-in-out infinite ($i * 0.2s);
    }
  }
  &.burst {
    animation: bubbleBurst 0.3s forwards;
  }
}

.reset {
  margin: 1rem;
  font-size: 1.25rem;
  text-transform: uppercase;
  border: 1px solid;
  box-shadow: #222 0px 8px 0px 0px;
  &:active {
    box-shadow: 0px 2px 0px 0px;
    transform: translateY(6px);
  }
}

@keyframes bubbleBurst {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes float {
  50% {
    transform: translateY(-6px);
  }
}


header {
            background-color: #086108;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .logo img {
            width: 350px; /* Ajuste o tamanho do logotipo conforme necessário */
        }
      
        .contact-method img {
            width: 20px; /* Ajuste o tamanho do logotipo conforme necessário */
            margin-right: 10px;
        }

        nav ul {
            list-style: none;
            display: flex;
        }

        nav li {
            margin-right: 20px;
        }

        nav a {
            text-decoration: none;
            color: #fff;
            transition: color 0.3s;
        }

        nav a:hover {
            color: #ff9900; /* Cor ao passar o mouse */
        }
        footer {
            background-color: #086108;
            padding: 20px;
            text-align: center;
            color: #fff;
        }
      
        /* Adicione isso ao seu CSS para rolagem suave */
        html {
            scroll-behavior: smooth;
        }
      
        body {
            background-color: #f8f9fa;
            font-family: "Helvetica Neue", Arial, sans-serif;
        }
        
         .containers-wrapper {
          display: grid;
          flex-wrap: wrap; /* Permite que os containers se quebrem para a linha seguinte se não houver espaço suficiente */
        }

        .container {
            position: relative;
            background-color: #ffffff;
            margin-top: 30px;
            margin-bottom: 30px;
            padding: 20px;
            padding-top: 30px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
           flex: 1; /* Distribui o espaço igualmente entre os containers */
            margin: 5px; /* Espaçamento entre os containers */
        }

        h1 {
            color: #086108;
            font-size: 25px;
            font-weight: bold;
        }
        
        h2 {
            color: #000;
            font-size: 20px;
            font-weight: bold;
        }

        p {
            color: #555;
            font-size: 16px;
        }

        li {
              color: #555;
              font-size: 16px;
          }
        
        #github-link {
            text-decoration: none;
            color: #007BFF;
        }

        #github-link:hover {
            text-decoration: underline;
            color: #ff9900; /* Cor ao passar o mouse */
        }

        @keyframes fadeIn {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

        .animated {
            animation: fadeIn 1.5s ease-in;
          flex: 1; /* Distribui o espaço igualmente entre os itens */
  margin: 5px; /* Espaçamento entre os itens */
        }
      
      /* Estilos para o container de formas de contato */
        .contact-method {
            margin-bottom: 20px;
            padding: 20px;
            background-color: #DAF7A6;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }

        p a {
            text-decoration: none;
            color: #000BFF;
            transition: color 0.3s;
        }

        p a:hover {
            text-decoration: underline;
            color: #ff9900; /* Cor ao passar o mouse */

        }
    .back-to-top {
    position: absolute;
    right: 1px;
    bottom: 1px;
    text-decoration: none;
    background-color: #086108;
    color: #fff;
    padding: 5px 10px;
    border-radius: 50px;
}

      .back-to-top:hover {
          background-color: #ff9900; /* Cor ao passar o mouse */
      }
    
